* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  height: 100vh;
  background-color: rgb(209, 255, 255, 0.8);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 99;
  position: fixed;
}

header div img {
  width: 50px;
  height: 50px;
}

header div {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
header div a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header div h3 {
  color: rgb(77, 189, 241);
  margin-left: 20px;
  margin-top: 5px;
  text-overflow: clip;
  white-space: nowrap;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header ul li {
  list-style: none;
  margin: 10px 30px 10px 0;
}

header ul li a {
  color: rgb(77, 189, 241);
  font-weight: bolder;
  font-size: 20px;
  white-space: nowrap;
}

header span {
  background: linear-gradient(to right, rgb(77, 189, 241), rgb(124, 205, 243));
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size 0.5s;
  background-position: right bottom;
}
header span:hover {
  background-position: left bottom;
  background-size: 100% 2px;
}

.imgs {
  width: 100%;
  height: 380px;
}

.TAB {
  position: relative;
  top: 60px;
  display: none;
  width: 100%;
  height: 50px;
  transition: all 0.5s;
  border-top: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
  & ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & li {
      color: #4dbdf1;
      border: 1px solid rgb(231, 231, 231);
      border-radius: 10px;
      padding: 3px 10px 3px 10px;
      cursor: pointer;
      margin-right: 20px;
      text-wrap: nowrap;
      &:hover {
        background-color: #e6e6e6;
      }
    }
  }
}

.TAB1 {
  border-top: 3px solid #4dbdf1;
  width: 100%;
  height: 40px;
  transition: all 0.5s;
  transform: translateY(-5px);
  background-color: rgba(255, 255, 255);
  & ul {
    transform: translateY(2px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & li {
      font-weight: bold;
      text-align: center;
      width: 150px;
      padding: 8px;
      border-radius: 10px 10px 0 0;
      cursor: pointer;
      text-wrap: nowrap;
      margin-right: 15px;
    }
    & img {
      transform: translateY(-29px);
      width: 100%;
      height: 100%;
    }
  }
}
.active {
  color: rgb(255, 255, 255);
  background-color: #4dbdf1;
  transition: background-color 0.5s;
}

.Fzg {
  border-top: 3px solid #4dbdf1;
  display: none;
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #d0f0ff;

  & .content1 {
    width: 65%;
    height: auto; /*  修改 */
    margin: 0 auto;
    margin-top: 60px;
    & h2 {
      margin-bottom: 20px;
    }
    & a {
      color: #ffffff;
      background: #4dbdf1;
      border-radius: 5px;
      transform: translateY(10px);
      padding: 5px;
      font-size: 15px;
      display: block;
      float: right;
      margin-left: 10px;
      &:hover {
        color: #1b58fd;
      }
    }
    & span {
      height: 100%;
      background-color: #4dbdf1;
    }
  }
}

video {
  width: 100%;
  height: 80vh;
  border-radius: 10px;
  border: 3px solid #4dbdf1;
  object-fit: cover;
  transition: all 0.5s;
}

.content2 {
  margin-top: 50px;
  display: flex;
  width: 100%;
  height: auto;
  & h3 {
    margin-bottom: 40px;
  }
  & div:nth-child(1) {
    width: 20%;
    text-align: center;
    & img {
      width: 100%;
      height: 320px;
      border: 2px solid #4dbdf1;
      border-radius: 10px;
      box-shadow: 5px 5px 15px 0;
    }
    & p {
      line-height: 25px;
      letter-spacing: 1px;
      font-size: 17px;
      font-weight: bold;
      margin-top: 10px;
    }
  }

  & div:nth-child(2) {
    width: 80%;
    padding: 40px;

    & p {
      line-height: 40px;
      padding: 20px;
      text-indent: 2em;
      letter-spacing: 1px;
    }
  }
}

& .content3 {
  width: 100%;
  display: flex;
  & h3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  & img {
    width: 300px;
    height: 450px;
    margin-top: 30px;
  }
}

.content4 {
  width: 100%;
  padding: 30px;
  text-indent: 2em;

  & h3 {
    margin-bottom: 20px;
  }

  & p {
    line-height: 25px;
    padding: 20px;
  }
}

.active1 {
  display: block;
}

.ghg {
  line-height: 35px;
  padding: 20px;
  text-indent: 2em;
  letter-spacing: 1px;
}
/* -------------------------------------------------------------------------------------------------- */
.dingb {
  position: absolute;
  position: fixed;
  top: 80%;
  right: 3%;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.5s;
  font-size: 10px;

  & img {
    width: 70%;
    height: 70%;
  }
}

footer {
  position: relative;
  bottom: 0;
  width: auto;
  height: 10vh;
  background-color: rgb(201, 201, 201, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    width: 50px;
    height: 50px;
  }
  & a {
    color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
  }
  & a:hover {
    color: #4dbdf1;
    text-decoration: underline;
  }
}
