* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: #9df3ef;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
.amplify {
  width: 100%;
  height: 100%;
  background-color: rgb(180, 180, 180, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  display: none;
  z-index: 100;
  overflow: scroll;
  & img {
    height: 100%;
  }
}
.icon {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  z-index: 100;
}
.left {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 20px;
  display: none;
  z-index: 100;
}
.left:hover {
  content: url(../icon/chevron-left.svg);
}
.left:active {
  transform: scale(0.8);
}
.right {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  right: 20px;
  display: none;
  z-index: 100;
}
.right:hover {
  content: url(../icon/chevron-right.svg);
}
.right:active {
  transform: scale(0.8);
}
.icon:hover {
  content: url(../icon/x-square.svg);
}
::-webkit-scrollbar {
  display: none;
}
header {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 99;
  position: fixed;
  top: 0;
}

header div img {
  width: 50px;
  height: 50px;
}

header div {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
header div a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header div h3 {
  color: rgb(77, 189, 241);
  margin-left: 20px;
  margin-top: 5px;
  text-overflow: clip;
  white-space: nowrap;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header ul li {
  list-style: none;
  margin: 10px 30px 10px 0;
}

header ul li a {
  color: rgb(77, 189, 241);
  font-weight: bolder;
  font-size: 20px;
  white-space: nowrap;
}

header span {
  background: linear-gradient(to right, rgb(77, 189, 241), rgb(124, 205, 243));
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size 0.5s;
  background-position: right bottom;
}
header span:hover {
  background-position: left bottom;
  background-size: 100% 2px;
}
.shell {
  max-width: 1700px;
  column-count: 7;
  column-gap: 10px;
  margin-top: 80px;
}
.shell div {
  margin-bottom: 10px;
}
.shell div img {
  width: 100%;
  border-radius: 10px;
}
.shell div img:hover {
  opacity: 0.8;
}
@media (max-width: 1500px) {
  .shell {
    column-count: 5;
  }
}
@media (max-width: 1100px) {
  .shell {
    column-count: 3;
  }
}
@media (max-width: 600px) {
  .shell {
    column-count: 2;
  }
}

.dingb {
  position: absolute;
  position: fixed;
  top: 95%;
  right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.5s;
  font-size: 10px;

  & img {
    width: 70%;
    height: 70%;
  }
}
