* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: rgb(209, 255, 255, 0.8);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 99;
  position: fixed;
  top: 0;
}

header div img {
  width: 50px;
  height: 50px;
}

header div {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

header div h3 {
  color: rgb(77, 189, 241);
  margin-left: 20px;
  margin-top: 5px;
  text-overflow: clip;
  white-space: nowrap;
}
header div a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header ul li {
  list-style: none;
  margin: 10px 30px 10px 0;
}

header ul li a {
  color: rgb(77, 189, 241);
  font-weight: bolder;
  font-size: 20px;
  white-space: nowrap;
}

header span {
  background: linear-gradient(to right, rgb(77, 189, 241), rgb(124, 205, 243));
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size 0.5s;
  background-position: right bottom;
}
header span:hover {
  background-position: left bottom;
  background-size: 100% 2px;
}

.Top-image {
  width: 100%;
  height: 300px;
  margin-top: 60px;
  background-color: #d0f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .name {
    width: 930px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
}

.CharacterIntroduction {
  width: 80%;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  & h1 {
    width: 130px;
    height: 40px;
    background-color: #4dbdf1;
    margin-top: 40px;
    & p {
      padding-top: 10px;
      margin-left: 20px;
      text-wrap: nowrap;
    }
  }

  & img {
    width: 350px;
    height: 430px;
    padding-top: 30px;
  }
}

.swiper {
  width: 930px;
  height: 170px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    width: 100%;
    width: 100%;
  }
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }
  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}
.entry {
  width: 900px;
  height: 430px;
  font-size: 18px;
  line-height: 30px;
  text-indent: 2em;
  margin-top: 100px;
  margin-left: 50px;
}

.Characterintroduction {
  position: relative;
  top: 0;
  width: 68%;
  height: auto;
  margin: 0 auto;
  display: flex;
  & div:nth-child(1) {
    width: 50%;
    height: 100%;
    & p {
      padding: 5px;
      text-align: start;
      font-size: 18px;
      border-bottom: 1px dashed #000;
      & span {
        color: rgb(112, 112, 112);
        font-size: 16px;
        padding-right: 40px;
      }
    }
  }
  & div:nth-child(2) {
    width: 50%;
    height: 100%;
    & p {
      padding: 5px;
      text-align: start;
      font-size: 18px;
      border-bottom: 1px dashed #000;
      & span {
        color: rgb(112, 112, 112);
        font-size: 16px;
        padding-right: 40px;
      }
    }
  }
}

.Character-Experience {
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 68%;
  height: auto;
  & h3 {
    font-weight: normal;
    padding: 20px 0 0 20px;
  }

  .Character-Experience1 {
    background: #4dbdf1;
    width: 10px;
    height: auto;
    text-wrap: nowrap;
    & h2 {
      padding-left: 20px;
    }
  }
  .Character-Experience3 {
    display: flex;
    text-indent: 2em;
    line-height: 30px;
    padding: 0 40px 0 40px;
    & p {
      letter-spacing: 1px;
    }
    & img {
      width: 350px;
      height: 460px;
    }
    & span {
      display: block;
      width: 348px;
      height: 30px;
      position: relative;
      top: -40px;
      left: 32px;
      color: #4dbdf1;
      font-size: 16px;
      font-weight: bold;
      background-color: #faf5f5;
      text-align: center;
      text-indent: 0;
      border: 1px solid rgba(139, 138, 138, 0.7);
    }
  }
}

.Character-Experience4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.Character-Experience6 {
  text-indent: 2em;
  line-height: 30px;
  padding: 0 40px 0 40px;
}

.Character-Experience7 {
  display: flex;
  padding: 0 40px 0 40px;
  justify-content: space-around;
}

.Character-Experience8 {
  padding: 40px 0 0 0;
  line-height: 30px;
  letter-spacing: 1px;
  flex: 2;
  & h6 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  & p {
    text-indent: 2em;
    margin-bottom: 20px;
  }
}

.Character-Experience9 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  & img {
    width: 300px;
    width: 280px;
  }
  & span {
    display: block;
    width: 278px;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
    color: #4dbdf1;
    font-size: 16px;
    font-weight: bold;
    background-color: #faf5f5;
    text-align: center;
    padding-top: 6px;
    text-indent: 0;
    border: 1px solid rgba(139, 138, 138, 0.7);
  }
}

.Character-Experience10 {
  line-height: 30px;
  letter-spacing: 1px;
  text-indent: 2em;
  & p {
    margin-bottom: 20px;
    padding: 0 40px 0 40px;
  }
  & h6 {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.Character-Experience11 {
  letter-spacing: 1px;
  text-indent: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

  & div:nth-child(1) {
    & p {
      line-height: 30px;
      margin-bottom: 20px;
      padding: 0 40px 0 40px;
    }
    & h6 {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  & div:nth-child(2) {
    padding: 0 40px 0 40px;
    & img {
      width: 350px;
      height: 500px;
    }
  }
}

.Character-Experience12 {
  letter-spacing: 1px;
  text-indent: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

  & div:nth-child(2) {
    & p {
      line-height: 30px;
      margin-bottom: 20px;
      padding: 0 40px 0 40px;
    }
    & h6 {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  & div:nth-child(1) {
    padding: 0 40px 0 40px;
    & img {
      width: 350px;
      height: 500px;
    }
  }
}

.Character-Experience13 {
  letter-spacing: 1px;
  text-indent: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

  & div:nth-child(1) {
    & p {
      line-height: 30px;
      margin-bottom: 20px;
      padding: 0 40px 0 40px;
    }
    & h6 {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  & div:nth-child(2) {
    padding: 0 40px 0 40px;
    & img {
      width: 350px;
      height: 500px;
    }
  }
}

.Character-Experience14 {
  letter-spacing: 1px;
  text-indent: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

  & div:nth-child(2) {
    & p {
      line-height: 30px;
      margin-bottom: 20px;
      padding: 0 40px 0 40px;
    }
    & h6 {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  & div:nth-child(1) {
    padding: 0 40px 0 40px;
    & img {
      width: 350px;
      height: 500px;
    }
  }
}

.Character-Experience15 {
  letter-spacing: 1px;
  text-indent: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

  & div:nth-child(1) {
    & p {
      line-height: 30px;
      margin-bottom: 20px;
      padding: 0 40px 0 40px;
    }
    & h6 {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  & div:nth-child(2) {
    padding: 0 40px 0 40px;
    & img {
      width: 350px;
      height: 500px;
    }
  }
}

.Character-Experience16 {
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-indent: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

  & div:nth-child(2) {
    & p {
      line-height: 30px;
      margin-bottom: 20px;
      padding: 0 40px 0 40px;
    }
    & h6 {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  & div:nth-child(1) {
    padding: 0 40px 0 40px;
    & img {
      width: 350px;
      height: 500px;
    }
  }
}

footer {
  position: relative;
  bottom: -60px;
  width: auto;
  height: 10vh;
  background-color: rgb(201, 201, 201, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    width: 50px;
    height: 50px;
  }
  & a {
    color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
  }
  & a:hover {
    color: #4dbdf1;
    text-decoration: underline;
  }
}

.dingb {
  position: absolute;
  position: fixed;
  top: 80%;
  right: 10%;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.5s;
  font-size: 10px;
  & img {
    width: 70%;
    height: 70%;
  }
}
